@model QuaverCodeTest.Models.PreambleConstitution

@{
    ViewData["Title"] = "Home Page";
}

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <h1>Answers</h1>
        <hr />
        <p>There are @PreambleConstitution.StartWithT() words that begin with the letter "T" in the Preamble.</p>
        <br />
        <p>There are @PreambleConstitution.EndWithE() words that end with the letter "E" in the Preamble.</p>
        <br />
        <p>There are @PreambleConstitution.StartTEndE() words that begin with the letter "T" and end with the letter "E" in the Preamble.</p>
    </div>
